.sign{
  text-align: center;
  background-image: url("../blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main, body{
    text-align: center;
}

.Question{
  padding-top: 10px;
  margin-bottom:10px;
  width:50%;
  border-style: solid;
  border-color:black;
  border-radius: 20%;
  margin-left: auto;
  margin-right:auto;
}
.question-guess{
  margin-bottom:10px;
}

.Result{
  font-size: 20px;
}
#callback{
  color:green;
  font-size: 20px;
}
.right{
  float:right;
}

#root{
  height: 100%;

}
body, html{
  height: 100%;
  /*//background-image: url("../blue.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
}
.question-title{
  font-size: 18px;
}
.question-category{
  font-size: 12px;
}
.question-item{

}

.score-main{
  text-align: center;

}
.score-list{
  align-items: center;
  margin:auto;
  width:50%;
}
#root{

}
a{
  color:white;
}
