.main{
  text-align: center;
}

.Question{
  padding-top: 20px;
}

.Result{
  font-size: 20px;
}
#callback{
  color:green;
  font-size: 20px;
}
.right{
  float:right;
}

#root{
  height: 100%;
}
body, html{
  height: 100%;
}
.question-title{
  font-size: 18px;
}
.question-category{
  font-size: 12px;
}

.score-main{
  text-align: center;

}
.score-list{
  align-items: center;
  margin:auto;
  width:50%;
}
#root{
  background-image: url("../blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
a{
  color:white;
}
